
  <div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none" data-locked>
    <div class="container">

      <div class="message">
        Product was added to cart.
      </div>


      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
